<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3310/offsetmanager</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
    <mapping resource="com/main/pojo/TblPrintingType.hbm.xml"/>
    <mapping resource="com/main/pojo/TblUsertype.hbm.xml"/>
    <mapping resource="com/main/pojo/TblState.hbm.xml"/>
    <mapping resource="com/main/pojo/TblQty.hbm.xml"/>
    <mapping resource="com/main/pojo/TblLaminationType.hbm.xml"/>
    <mapping resource="com/main/pojo/TblPaper.hbm.xml"/>
    <mapping resource="com/main/pojo/TblDistrict.hbm.xml"/>
    <mapping resource="com/main/pojo/TblCitylist.hbm.xml"/>
    <mapping resource="com/main/pojo/TblClient.hbm.xml"/>
    <mapping resource="com/main/pojo/TblQuotation.hbm.xml"/>
    <mapping resource="com/main/pojo/TblSides.hbm.xml"/>
    <mapping resource="com/main/pojo/TblOrderStatusHistory.hbm.xml"/>
    <mapping resource="com/main/pojo/TblQuotationhistory.hbm.xml"/>
    <mapping resource="com/main/pojo/TblOrder.hbm.xml"/>
    <mapping resource="com/main/pojo/Offsetuser.hbm.xml"/>
    <mapping resource="com/main/pojo/TblGsmsize.hbm.xml"/>
    <mapping resource="com/main/pojo/TblCardType.hbm.xml"/>
    <mapping resource="com/main/pojo/TblPostpress.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
